/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* header style */

header{
    background-color: #ff6900;
    height: 100px;
    width: 100%;
    box-shadow: 2px 2px 4px 2px #f4cca6c2;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
}
    /* nav style */
    nav{
        height: 100%;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        /* list style */
        #gender{
            display: flex;
            justify-content: space-between;
            flex-basis: 200px;
        }

        a{
            text-decoration: none;
            color: white;
        }

        a:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    
    /* logo style */
    #logo img{
        width: 180px;
    }

    /* icons style */
    .icon{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-basis: 80px;
    }

/* main style */

main{
    width: 80%;
    margin: 200px auto;
}

    /* articles style */
    .row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    article img {
        width:500px;
    }

    article{
        position: relative;
    }

    .price{
        font-size: smaller;
    }

    .price .red {
        color: red;
    }

    .price .old-price {
        text-decoration: line-through;
    }

    .scount {
        background-color: red;
        color: white;
        padding: 8px;
        /* position: absolute;
        bottom: 120px;
        left: 0; */
        
    }

    .eco-friendly{
        background-color: green;
        color: white;
        padding: 8px;
        /* position: absolute;
        bottom: 120px;
        left: 65px; */
    }

    /* #eco-friendly-alone{
        position: absolute;
        bottom: 120px;
        left: 0;
        background-color: green;
        color: white;
        padding: 8px;
    } */

    .label{
        position: absolute;
        bottom: 120px;
        left: 0;
        display: flex;
        gap: 10px;
    }

    .heart{
        color: black;
        background-color: white;
        padding-left: 15px;
        padding-right: 15px;
        position: absolute;
        right: 0;
        top: 45px;
        font-size: 40px;
    }

    /* hover articles style */

    /*  */
    .heart:hover{
        cursor: pointer;
        color: red;
        background-color: black;
    }

   .img-b {
        width: 500px;
        display: none;
   }

   article:hover .img-a{
    display: none;
   }

   article:hover .img-b{
    display: inline-block;
   }
   

   /* footer style */

   footer{
    background-color: #1a1a1a;
    width: 100%;
    height: 100px;

   }

   footer strong {
    color: white;
   }

#information{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#legal{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#legal ul{
    display: flex;
    justify-content: space-between;
    flex-basis: 500px;
    font-size: smaller;
    margin-top: 10px;
}

#contact{
    display: flex;
    flex-wrap: wrap;
}

#business-name strong
{
    font-size: larger;
}

#contact .icon {
    flex-basis: 180px;
    margin-top: 10px;
}